<%- include("partials/header") %>
<main class="container py-5 flex-fill">
    <!-- Main Content -->
    <div class="text-center">
      <h1 class="display-4 fw-bold">Welcome to the Book Catalogue</h1>
      <p class="lead text-muted">
        Explore, add, and manage your collection of books, authors, and genres.
      </p>
      <a href="/books" class="btn btn-primary btn-lg mt-3">Browse Books</a>
    </div>
  </main>

<%- include("partials/footer") %>
